.project-card-container{
    border: solid 2.5px var(--primary-color) ;
    border-radius: 5px;
    overflow: hidden;
}
.project-card-container:hover{
    box-shadow: 1px 1px 10px;
    cursor: pointer;
}

.project-image{
    box-shadow: 1px 1px 3px;
    object-fit: cover;
    /* mask-image: linear-gradient(on left, black 50%, transparent 100%); */
}