.divider-container{
    background-position: 0 0;
    animation: moveDivider 30s linear infinite;
}

@keyframes moveDivider {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -1000px 0;
    }
}
