.divider-container{
    width: 100vw;
    height: 40px;
    background-color: var(--primary-color);
    background-image: url(../assets/divider.png);
    background-position: 0 0;
    animation: moverFaixa 30s linear infinite;
}

@keyframes moverFaixa {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -1000px 0;
    }
}
