.project-card-container{
    background-image: url(../assets/project-card-bg.svg);
    width: 610px;
    height: 350px;
    padding: 30px 40px 30px 40px;
}

.project-card-container h4{
    color: var(--dark-bg-color);
}

.project-card-container p{
    color: var(--dark-bg-color);
    text-align: justify;
}

.project-image{
    width: 190px;
    height: 190px;
    object-fit: cover;
}

.techstack{

}